<section>
  <h2>hello</h2>
  <p>
    <span
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt dolor,
      repellat dolores explicabo eius quam maiores alias. Et illum itaque vitae
      labore tempora. Quasi nulla iste distinctio in voluptate velit.</span
    ><span
      >Quis odio atque libero voluptatem error maxime temporibus exercitationem
      consequuntur laudantium voluptate eum explicabo ad, incidunt soluta
      perspiciatis obcaecati quibusdam. Aut, consectetur maiores? Quod illo eius
      esse totam, architecto sit.</span
    >
  </p>
  <ul>
    <li class="origin">1727</li>
    <li class="origin">1727</li>
    <li class="origin">1727</li>
    <li class="origin">1727</li>
  </ul>

  <div>
    <button>нажми и получишь бонус</button>
  </div>
</section>
